* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(167deg, #fb8247 10%, #ffffff 30%, #ffffff 60%, rgb(1, 155, 1) 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

}

.charka {
    position: relative;
    width: 225px;
    height: 225px;
    color: blue;
    border: 8px solid currentColor;
    border-radius: 50%;
    transform: rotateY('180deg');
    animation: outer .5s cubic-bezier(0.25, 1, 0.7, 1.35),
    rotate 30s linear infinite 4s;
}

.charka .spikes,
.charka .spikes .spike {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.charka .spikes .spike {
    transform: rotate(calc(15deg*var(--i)));
}

.charka .spikes .spike::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background: currentColor;
    border-radius: 50%;
    top: -8px;
    left: calc(50% - 8px);
    animation: circle 2s linear calc(-0.05s*var(--i));
}

.charka .spikes .spike::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 50%;
    background: currentColor;
    top: -8px;
    left: calc(50% - 5px);
    transform-origin: bottom;
    transform: rotate(7.5deg);
    clip-path: polygon(50% 5%, 100% 50%, 50% 95%, 0% 50%);
    animation: spike 3s linear calc(-0.05s*var(--i));

}

.charka::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    /* background: currentColor; */
    top: calc(50% -12px);
    left: calc(50% -12px);
    border-radius: 50%;
    animation: inner .5s cubic-bezier(0.25, 1, 0.7, 1.3);
}

h1 {
    color: red;
    margin-top: 15px;
    display: flex;
    gap: 10px;
    font-weight: 500;
    overflow: hidden;

}

h1 span {
    animation: text 5s ease-in-out
}

h2 {
    font-size: 36px;
    font-weight: 700;
    color: rgb(1, 155, 1);
    animation: text 5s ease-in-out
}

h4,
h5 {
    animation: text 5s ease-in-out
}


@keyframes outer {
    0% {
        transform: rotate(180deg) scale(0);
    }
}
@keyframes rotate{
    to{
        transform:rotate(360deg)
    }
}

@keyframes circle {

    0%,
    90% {
        opacity: 0;
    }
}

@keyframes spike {

    0%,
    90% {
        opacity: 0;
        clip-path: polygon(50% 90%, 100% 90%, 90% 95%, 0 50%);
    }
}

@keyframes text {

    0%,
    80% {
        opacity: 0;
        transform: translateY(100%);
    }
}